@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
body {
    font-family: 'Inconsolata', monospace;
    background: #020202;
    color: white;
}

.jumbotron{
    padding: 90px 0;
    background: #111111;

}

h1,
h2,
h3 {
    font-weight: 700;
}

.project-wrapper p{
    margin: 0 10px 0 0;
    padding: 5px;
    float: left;
}

.project-wrapper p:hover{
    background: grey;
}